h1 {
    width:500px;
    margin: 0 auto;
    color: purple;
    text-align: center;
}

h2 {
    width:500px;
    margin: 0 auto;
    color: black;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 15px;
}

h3{
    width:500px;
    margin: 0 auto;
    color: purple;
    text-align: center;
}



.btn {
  font-size: 20px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  size:

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: mediumpurple;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to indigo on hover */
li a:hover {
  background-color: indigo;
}

#form{
    color: blue;
    padding-top: 10px;
    padding-left: 180px;
    text-align: left;
}

h4{
text-align: center;
}

.test{
    height:60px;
    width:200px;
    font-size: 20px;
    font-weight: 800;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Three image containers (use 25% for four, and 50% for two, etc) */
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 22.3%;
  padding: 13px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}



p {
 width: 70%
 justify-content: center;
}

@media only screen and (max-width: 600px) {
    #flex-container {
    display: flex;
    flex-direction: column;
}
}

.checkbox {
    height: 50px;
    width: 300px;
    background-color: lightblue;
    font-size: large;
}

#summary {
  display: flex;
  align-items: center;
  justify-content: center
}

