{% include 'header.html' %}
<html lang="en">

<body>

    <h1> Welcome to 10 dollars bookstore</h1>
    <h3> The simplest online bookstore you can find</h3>
    <h3> Every book is 10 dollors </h3>

<!--    <div class="row">-->
    <div id="flex-container">
      <div class="col">
        <img src="{{ url_for('static', filename='angela_ashes.jpg') }}" alt="Angela's Ashes" style="width:100%">
          <a href="{{ url_for('cart', name = 'Angela\'s Ashes') }}">
              <button class = "btn">Add to Cart</button>
          </a>
      </div>
      <div class="col">
        <img src= "{{ url_for('static', filename='briefhistoryoftime.jpg') }}" alt="A Brief History of Time" style="width:100%">
          <a href="{{ url_for('cart',name = 'A Brief History Of Time')}}">
          <button class = "btn">Add to Cart</button>
          </a>
      </div>
      <div class="col">
        <img src="{{ url_for('static', filename='ggs.jpg') }}" alt="Guns, Germs, and Steel" style="width:100%">
          <a href="{{ url_for('cart',name = 'Guns, Germs, and Steel')}}">
          <button class = "btn">Add to Cart</button>
          </a>
      </div>
    </div>


</body>
</html>